{% extends 'template.html.twig' %}
{% block title %}{{ parent() }} - {{ section.getLestyles }}{% endblock %}

{% block titre %}{{ parent() }} - {{ section.getLestyles }}{% endblock %}
{% block stitre %}{{ section.getLadescription }} {% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path("accueil") }}">Accueil
                <span class="sr-only">(current)</span>
            </a>
        </li>
        {% for itemMenu in styles %}
            {# if current section is selected on this loops'turn #}
            {% if(itemMenu.getIdstyles == section.getIdstyles) %}
                {# create forActive Twig's local variable#}
                {% set forActive = "active" %}
            {% else %}
                {% set forActive = "" %}
            {% endif %}
            <li class="nav-item {{ forActive }}">
                <a class="nav-link" href="{{ path("detail_styles",{'id':itemMenu.getIdstyles}) }}">{{ itemMenu.getLestyles }}</a>
            </li>
        {% endfor %}

    </ul>
{% endblock %}

{% block contenu %}
    {% if sports is empty %}
        <h3><small>Il n'y a pas encore d'article dans cette rubrique</small> <a href="{{ path("accueil") }}">Retour à l'accueil</a></h3><hr>
    {% endif %}
    {% for item in sports %}
        <h2>{{ item.getLetitres }}</h2>
        <h3>
            {% for categ in item.getStylesstyles %}
                <a href="{{ path("detail_styles",{"id":categ.getIdstyles}) }}">{{ categ.getLestyles }}</a> |
            {% endfor %}
        </h3>
        <p>{{ item.getLetextes|truncate(350,true) }} <a href="{{ path("detail_lesports",{'id': item.getIdlesports}) }}">Lire la suite</a></p>
        <h4>Par {{ item.getLauteurlauteur.getLenomcomplet }} le {{ item.getLadates|date("d/m/Y à H \\h i \\m") }}</h4><hr>
    {% endfor %}
{% endblock %}

